
.header{
    grid-area: h;
    background-color: cornflowerblue;
}

.header img{
    width:50px;
    margin: 10px 10px 10px 20px;
}

.login{
    float:right;
    color: white;
    pading: 5px;
    margin: 10px 20px 0 0;

}
