
.nav {
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;
}

.item {
    color: white;
    padding: 2.5px;

}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    cursor: pointer;
    color: yellow;
}

.nav a.activeLink {
    color: lightcoral;
}