
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.link a{
    text-decoration: none;
}

.link img{
    width:40px;
    border-radius: 20px;
    vertical-align: middle;
}

.active{
    color: lightcoral;
}

.messages{
    padding: 10px;
}







